html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: lightgrey;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height : 100%;
}

.main-item {
    margin: 0;
    background-color: white;
    overflow: hidden;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list > li {
    background-color: lightblue;
}

.list:nth-child(2) {
    background-color: red;
}

.right {
    margin-top: auto;
}

.delete {
    padding: 5px;
    background-color: red;
}

.edit {
    padding: 5px;
    background-color: green;
}

#input {
    border:0;
    padding: 1em;
}

#addBtn {
    border:0;
    padding: 0;
    height:100%;
}