* {
    box-sizing: border-box;
}

html {
    height: 100%;
    box-sizing: border-box;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: paleturquoise;
}

.container {
    height : 100%;
}

.done {
    opacity: 0.5;
    text-decoration: line-through;
}

.main-item {
    position: absolute;
    top: 40%;
    left:40%;
    margin: 0;
    background-color: white;
    overflow: hidden;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list > li {
    background-color: lightblue;
}

.list > li:nth-child(2n) {
    background-color: palegoldenrod;
}

.right {
    margin-top: auto;
}

.delete {
    padding: 0.5em;
    background-color: red;
}

.delete:hover {
    transition: 0.5s;
    background-color: lightcoral;
}

.edit {
    padding: 0.5em;
    background-color: green;
    height: 100%;
}

.edit:hover {
    transition: 0.5s;
    background-color: lightgreen;
}



#input {
    height: 100%;
    border:0;
    margin: auto;
    padding:1em;
}

#addBtn {
    box-sizing: border-box;
    border:none;
    margin:auto;
    padding: 1em;
    height:inherit;
}

#addBtn:hover {
    transition: 0.5s;
    background-color: darkslategray;
}

/* List layout */

.grid {
    display: grid;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border:none;
}

.inline-test {
    display: inline-flex;
}

.left {
    margin-left: 10px;
    grid-column: 1;
    margin-left: 1em;
}

.right {
    box-sizing: content-box;
    align-items: stretch;
    justify-self: end;
    grid-column: 2;
}

.hide {
    display:none;
}